<div class="seccion-titulo">
    <h3>Experiencia</h3>
</div>
<section id="experiencia" class="seccion">
    <article class="seccion__contenido">
        <div class="seccion__experiencia">
            <p><strong>Actualidad:</strong></p>
            <ul class="seccion__listado">
                <li>
                    2008 - ????, Técnico básico administración especial,
                    Universidad del Sureste.
                </li>
            </ul>
            <p><strong>Formador:</strong></p>
            <ul class="seccion__listado">
                <li>
                    2015, Programación en AngularJS, Universidad del Sureste.
                </li>
                <li>
                    2017, Herramientas avanzadas en WordPress, Universidad del
                    Sureste.
                </li>
                <li>2018, MongoDB, Universidad del Sureste.</li>
            </ul>
        </div>
    </article>
    <aside class="seccion__lateral">
        <p><i class="fa-solid fa-award"></i>&nbsp;<strong>Logros:</strong></p>
        <ul class="seccion__listado">
            <li>2014, Primer premio II Semana de la innovación.</li>
            <li>2014, Premios Web La Verdad, Portal institucional.</li>
            <li>2020, Premio Consejo Social a la gestión administrativa.</li>
        </ul>
    </aside>
</section>
