<div class="seccion-titulo">
    <h3>Formación</h3>
</div>
<section id="formacion" class="seccion">
    <article class="seccion__contenido">
        <div class="seccion__formacion">
            <p><strong>Titulación Oficial:</strong></p>
            <ul class="seccion__listado">
                <li>
                    2002-2007 Ingeniería Informática plan 2001, Universidad de
                    Alicante, nivel 3 del Marco Español de Cualificaciones para
                    la Educación Superior y nivel 7 del Marco Europeo de
                    Cualificaciones.
                </li>
            </ul>
            <p><strong>Cursos:</strong></p>
            <ul class="seccion__listado">
                <li>2006, Cisco Certified Network Associate (CCNA).</li>
                <li>
                    2011, Desarrollo de aplicaciones compuestas con Oracle SOA
                    Suite.
                </li>
                <li>
                    2011, Desarrollo de aplicaciones compuestas con Oracle UCM
                    Suite.
                </li>
                <li>
                    2012, Modelado y desarrollo de procesos de negocio con
                    Oracle BPM Suite.
                </li>
                <li>2014, Desarrollo empresarial con Java.</li>
                <li>2015, Gobierno SOA y OSB.</li>
                <li>2015, HTML5.</li>
                <li>2015, Oracle BPM.</li>
                <li>
                    2016, Seguridad en redes, técnicas de hacking y
                    contramedidas.
                </li>
                <li>
                    2018, Curso del Esquema Nacional de Seguridad (ENS), CCN.
                </li>
                <li>2018, Administración electrónica.</li>
                <li>2020, Introducción a Web API.</li>
                <li>2020, Introducción a Git y Jenkins.</li>
                <li>2021, Cocinando Inteligencia Artificial con Python.</li>
            </ul>
        </div>
    </article>
    <aside class="seccion__lateral">
        <p>
            <i class="fa-solid fa-language"></i>&nbsp;<strong
                >Idiomas (MCER):</strong
            >
        </p>
        <ul class="seccion__listado">
            <li>C1 - Valenciano</li>
            <li>B2 - Inglés</li>
            <li>A2 - Alemán</li>
        </ul>
    </aside>
</section>
