<section id="general-info" class="seccion">
    <article class="seccion__contenido">
        <div class="contacto">
            <div class="contacto__foto"></div>
            <div class="contacto__ficha">
                <h3>Jorge Do Nascimento García</h3>
                <p>Limehouse Street, 13, D</p>
                <p>Manchester, P.O. 31332</p>
                <p><strong>666 666 666</strong></p>
                <p><strong>aaa@aaa.com</strong></p>
            </div>
        </div>
        <div class="seccion__descripcion">
            <p>
                Programador senior con 14 años de experiencia en el entorno de
                la programación web en el ámbito académico. Entre los trabajos
                ejercidos se encuentran entre otros un portal institucional,
                portal de ámbito empresarial para englobar las aplicaciones de
                intranet de los usuarios y creación de temas para Wordpress.
            </p>
            <p>
                He trabajado con diversas tecnologías y metodologías utilizando,
                actualmente, Angular para la creación de frontends y C# para la
                creación de servicios REST en el backend.
            </p>
            <p>
                También he impartido cursos de docencia en herramientas de
                tecnologías de la información y dirigido varios equipos de
                trabajo.
            </p>
        </div>
    </article>
    <aside class="seccion__lateral">
        <p>
            <i class="fa-solid fa-palette"></i>&nbsp;<strong
                >Cualidades:</strong
            >
        </p>
        <ul class="seccion__listado">
            <li>Tenaz</li>
            <li>Eficiente</li>
            <li>Colaborativo</li>
        </ul>
    </aside>
</section>
