<div class="seccion-titulo">
    <h3>Miscelánea</h3>
</div>
<section id="miscelaneo" class="seccion">
    <article class="seccion__contenido">
        <div class="seccion__miscelaneo">
            <h4>Sobre mí</h4>
            <p>
                Nacido ya hace unos años, he vivido mi vida rodeado de
                ordenadores, desde un Amstrad con monitor de fósforo verde y
                cassettes, hasta mi actual PC. Lo que comenzó como un hobby o
                diversión se ha ido convirtiendo poco a poco en mi profesión.
            </p>
            <p>
                Siempre me ha llamado la atención la programación y mi primer
                puesto de trabajo me puso delante de la programación web, no
                siendo ese mi perfil, pero me he ido formando y aprendiendo de
                otros compañeros y ahora es mi campo.
            </p>
            <p>
                En lo personal, me encanta ir de viaje con la familia, largos
                paseos por la montaña y echar horas jugando a la videoconsola.
            </p>
        </div>
    </article>
    <aside class="seccion__lateral">
        <p>
            <i class="fa-regular fa-face-laugh-beam"></i>&nbsp;<strong
                >Hobbies:</strong
            >
        </p>
        <ul class="seccion__listado">
            <li>Fan de cómics de superhéroes.</li>
            <li>Manitas.</li>
            <li>Paseador de perros.</li>
            <li>Viajar.</li>
        </ul>
    </aside>
</section>
